.playlist{
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    margin:0 60px;
    scrollbar-width: thin;
    scrollbar-color: var(--thumGB) var(--scrollbarBG);

    &::-webkit-scrollbar {
        width: 11px;
    }
    .playlist-card{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
    }
}