.header{

    overflow: hidden;
    height: 25vh;
    background:#ffb5a7;

   .directory-header{
    display: flex;
   flex-direction: row;
   justify-content:space-between;
   .directory-image{
       overflow: hidden;
       .dir-image{

            height: 30vh;
            width: 33%;
            position:absolute;
            top: 0;

        }
   }
    .directory-text{
        display: flex;
        flex-direction: column;
        text-align: end;
        color: #fff;
        letter-spacing:1px;
        font-size:30px;
        padding-right: 90px;
        font-weight: bolder
    }

    .directory-text > *{
        margin-top:50px;
        line-height: 2px;
        cursor: pointer;
    }

     .text-name{
         margin-top:80px
     }
}
}

@media only screen and (max-width: 600px) {
   .header{
       overflow: hidden;
    .directory-header{
         .directory-image{
            overflow: hidden;
            display: none;
       .dir-image{
             display: none;

        }
   }
       .directory-text{
        display: flex;
        //flex-direction: column;
         color: #fff;
        letter-spacing:1px;
        font-size: 25px;
        padding-right: 1px;
        font-weight: bolder;
        margin-right: auto;
        margin-left:auto;
    }
    .directory-text > *{
        line-height: 2px;
        cursor: pointer;
    }

   }
}
}
